<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319208159170-ll2auv1144241369adkijpr0pubblp7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319208159170-ll2auv1144241369adkijpr0pubblp7r</string>
	<key>API_KEY</key>
	<string>AIzaSyAspJQvUisuAdUnV5M6iBgwCKLWb02utOc</string>
	<key>GCM_SENDER_ID</key>
	<string>319208159170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>jocheong-30939</string>
	<key>STORAGE_BUCKET</key>
	<string>jocheong-30939.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319208159170:ios:020d533c98907465c8085b</string>
</dict>
</plist>